extends ../includes/template
block main
  .section.about
    .container
      h2.section__title ¿Quiénes somos?
      h3.section__subtitle Acerca de nosotros
  section#about
    .container
      p Bearsoft es una empresa dedicada al desarrollo de soluciones efectivas y que busca estar en constante actualización para ofrecer el mejor servicio en la solución de problemas mediante la implementación de Sitios Web, Sistemas y Software en general.
  .section.portafolio
    .container
      h2.section__title Portafolio
      h3.section__subtitle Nuestros trabajos anteriores
  section#portafolio
    .container
      .item
        a.cover(target="_BLANK" href="http://healthybeginnings.com.gt")
          span HEALTHY BEGINNINGS
        img(title="Healty Begunnings" src="./assets/portafolio/jimena.jpg")
      .item
        a.cover(target="_BLANK" href="http://obiolsarquitectura.com")
          span OBIOLS ARQUITECTOS
        img(title="Obiols Arquitectos" src="./assets/portafolio/obiols.jpg")
      .item
        a.cover(target="_BLANK" href="http://pazarquitectura.com")
          span ARQUITECTURA PAZ
        img(title="Arquitectura Paz" src="./assets/portafolio/arquitectura.jpg")
      .item
        a.cover(target="_BLANK" href="http://grupoprochem.com")
          span GRUPO PROCHEM
        img(title="Grupo Prochem" src="./assets/portafolio/prochem.jpg")
      .item
        a.cover(href="#")
          span SISTEMA ESCOLAR
        img(title="Flippy - Sistema escolar" src="./assets/portafolio/flippy.jpg")
      .item
        a.cover(href="#")
          span SISTEMA ADMINISTRATIVO
        img(title="Sistema administrativo" src="./assets/portafolio/apro.jpg")

  section#servicios
    .pricing.container
      .plan
        img(src="./assets/plan1.svg")
        h3 Pagina sencilla
        p3 Solución básica para sitios web estáticos
        ul
          li 2 GB de amacenamiento
          li 10 cuentas de correo
          li dominio (.com, .net, .org, etc)
        a.btn.btn-block.btn-secondary(href="#contacto") Contacto
      .plan.best
        img(src="./assets/plan2.svg")
        h3 Pagina web Autoadministrable
        p3 Solución perfecta para sitio web autoadministrable
        ul
          li Acceso al panel administrativo
          li 8 GB de amacenamiento
          li 20 cuentas de correo
          li dominio (.com, .net, .org, etc)
        a.btn.btn-block.btn-primary(href="#contacto") Contacto
      .plan
        img(src="./assets/plan3.svg")
        h3 Aplicación
        p3 Aplicaciones web o de escritorio desarrolladas a la medida
        ul
          li Desarrollo a la medida
          li Amacenamiento ilimitado
          li Cuentas de correo ilimitadas
        a.btn.btn-block.btn-secondary(href="#contacto") Contacto
  .section.contacto
    .container
      h2.section__title Contacto
      h3.section__subtitle Pregunta acerca de nuestros precios
  footer#contacto
    .cover
      form.form.container
        .form__grid
          input.form__controller(type="text" name="nombre" placeholder="Nombre")
          input.form__controller(type="email" name="correo" placeholder="correo@dominio.com")
        input.form__controller(type="text" name="asunto" placeholder="Asunto")
        textarea.form__controller(name="mensaje" placeholder="Escribe tu mensaje aquí..." rows="6")
        button.btn.btn-secondary(type="button") Enviar