extends ../includes/template
block main
  .section.quienes-somos
    .container
      h2.section__title ¿Quiénes somos?
      h3.section__subtitle Nuestros trabajos anteriores
  section#about
    .container
      p Bearsoft es una empresa dedicada al desarrollo de soluciones efectivas y que busca estar en constante actualización para ofrecer el mejor servicio en la solución de problemas mediante la implementación de Sitios Web, Sistemas y Software en general.
  .section
    .container
      h2.section__title Portafolio
      h3.section__subtitle Nuestros trabajos anteriores
  section#portafolio
    .container
      .item
        img(src="./assets/portafolio/jimena.png")
      .item
        img(src="./assets/portafolio/obiols.png")
      .item
        img(src="./assets/portafolio/arquitectura.png")
      .item
        img(src="./assets/portafolio/prochem.png")
      .item
        img(src="./assets/portafolio/flippy.png")
      .item
        img(src="./assets/portafolio/apro.png")

  .section.servicios
    .container
      h2.section__title Nuestros servicios
      h3.section__subtitle subtitulo
  section#servicios
    .container
      .item
        img(src="https://cdn4.iconfinder.com/data/icons/web-development-5/500/responsive-layout-screen-128.png")
        h3 Diseño
      .item
        img(src="https://cdn4.iconfinder.com/data/icons/web-development-5/500/computer-devices-responsive-128.png")
        h3 Testing
      .item
        img(src="https://cdn4.iconfinder.com/data/icons/web-development-5/500/checked-www-domain-window-128.png")
        h3 Dominio<br>personalizado
      .item
        img(src="https://cdn4.iconfinder.com/data/icons/web-development-5/500/clean-code-window-128.png")
        h3 Titulo
  .section.contacto
    .container
      h2.section__title Contacto
      h3.section__subtitle Pregunta acerca de nuestros precios
  footer
    .cover
      form.form.container
        .form__grid
          input.form__controller(type="text" name="nombre" placeholder="Nombre")
          input.form__controller(type="email" name="correo" placeholder="correo@dominio.com")
        textarea.form__controller(name="mensaje" placeholder="Escribe tu mensaje aquí..." rows="6")
        button.btn.btn-secondary(type="button") Enviar