doctype html
html(lang="es")
  head
    title Bearsoft
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900") 
    link(rel="stylesheet" href="./assets/css/styles.css")
    link(rel="icon" type="image/png" href="./assets/icon.png")
  body
    header
      .container
        .nav
          .nav__left
            img.nav__logo(src="./assets/logo.svg")
          .nav__right
            a.nav__element(data-element=".about") ¿Quiénes somos?
            a.nav__element(data-element=".portafolio") Portafolio
            a.nav__element(data-element="#servicios") Servicios
            a.nav__element(data-element="#contacto") Contacto
        h2 Hacemos tus ideas realidad.
        .nav-services
          span Páginas web
          span ∙
          span Aplicaciones de escritorio
          span ∙
          span Aplicaciones móviles
    block main
    script(src="https://cdn.emailjs.com/dist/email.min.js")
    script(src="./assets/js/scripts.js")
