.container{
  padding: 0 2rem;
}
header{
  background: linear-gradient(-45deg, rgba($color-primary, 0.8), rgba($color-secondary, 0.8)), url('../bg.jpeg');
  background-size: cover;
  padding: 3rem 1rem;
  color: white;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
  img{
    cursor: pointer;
  }
  h2{
    @include responsive-font-size(4rem);
    width: 100%;
    font-weight: 600;
    margin: 2rem 0;
    text-align: center;
  }
  .nav-services{
    display: none;
    justify-content: center;
    span{
      padding: 0 0.5rem;
      color: rgba(255, 255, 255, 0.8);
      @include transition();
      cursor: pointer;
      &:hover{
        color: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

.section{
  background: $section-bg;
  .container{
    padding: 3rem 2rem;
    background-repeat: no-repeat;
    background-position-x: right;
  }
}
section{
  background: white;
  padding: 2rem 0;
  &#about{
    p{
      @include responsive-font-size(1.3rem);
      font-weight: 300;
      line-height: 2rem;
      text-align: justify;
      color: #6c665c;
      margin: 0;
    }
  }
  &#portafolio{
    .container{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;
      .item{
        position: relative;
        img{
          width: 100%;
          height: 100%;
        }
        .cover{
          background: linear-gradient(-45deg, $color-primary, $color-secondary);
          position: absolute;
          opacity: 0.95;
          top: 0;
          left: 0;
          text-align: center;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column;
          color: white;
          text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
          text-decoration: none;
          @include transition();
          &:hover{
            text-shadow: none;
            opacity: 0.7;
            cursor: pointer;
          }
          span{
            letter-spacing: 1px;
            font-weight: 600;
          }
        }
      }
    }
  }
  &#servicios{
    background-image: url("../pattern.svg");
    background-size: 6rem;
    background-attachment: fixed;
  }
}

footer{
  background: url("../footer.jpeg");
  background-size: cover;
  .cover{
    padding: 2rem 0;
    background: rgba(0,0,0,.05);
    height: 100%;
    position: relative;
  }
}

@mixin layout--lg(){
  header h2{
    width: 50%;
  }
  .container{
    width: $container-lg;
  }
  section#portafolio .container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@mixin layout--md{
  header{
    padding: 5rem 0;
    h2{
      width: 60%;
      padding: 5rem 0;
      text-align: left;
    }
  }
  .container{
    width: $container-md;
    margin: 0 auto;
  }
  .section{
    .container{
      padding: 4rem 0;
      background-position-y: 50%!important;
      background-size: 15rem;
    }
    &:first-of-type .container{
      padding-top: 3rem;
    }
    &.about .container{
      background-image: url("../sections/quienes-somos.svg");
      background-size: 15rem;
    }
    &.portafolio .container{
      background-image: url("../sections/responsive.svg");
      background-size: 21rem;
    }
    &.contacto .container{
      background-image: url("../sections/contacto.svg");
      background-size: 15rem;
    }
  }
  section{
    padding: 6rem 0;
    &#about p{
      line-height: 3rem;
    }
    &#portafolio .container{
      grid-template-columns: repeat(2,1fr);
    }
  }
  footer .cover{
    padding: 6rem 0;
  }
}

@mixin layout--sm{
  header .nav-services{
    display: flex;
  }
  .section .container{
    background: none!important;
  }
  section{
    padding: 2rem 0;
  }
  footer .cover{
    padding: 4rem 0;
  }
}