.container{
  width: $container-width;
  margin: 0 auto;
}
header{
  background: linear-gradient(-45deg, rgba($color-primary, 0.8), rgba($color-secondary, 0.8)), url('../assets/bg.jpeg');
  background-size: cover;
  padding: 5rem 0;
  color: white;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
  img{
    cursor: pointer;
  }
  h2{
    width: 50%;
    font-size: 3rem;
    font-weight: 600;
    margin: 5rem 0;
  }
  .nav-services{
    display: flex;
    justify-content: center;
    span{
      padding: 0 0.5rem;
      color: rgba(255, 255, 255, 0.8);
      @include transition();
      cursor: pointer;
      &:hover{
        color: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

.section{
  background: $section-bg;
  .container{
    padding: 4rem 0;
    background-repeat: no-repeat;
    background-position-x: right;
  }
  &:first-of-type .container{
    padding-top: 3rem;
  }
  &.quienes-somos .container{
    background-image: url("../assets/sections/quienes-somos.svg");
    background-size: 15rem;
  }
  &.portafolio .container{
    background-image: url("../assets/sections/portafolio.svg");
    background-size: 14rem;
  }
  &.servicios .container{
    background-image: url("../assets/sections/servicios.svg");
    background-size: 21rem;
  }
  &.contacto .container{
    background-image: url("../assets/sections/contacto.svg");
    background-size: 15rem;
  }
}
section{
  background: white;
  padding: 6rem 0;
  &#about{
    .container{
      width: 700px;
    }
    p{
      font-size: 1.3rem;
      font-weight: 300;
      line-height: 3rem;
      text-align: justify;
      color: #6c665c;
      margin: 0;
    }
  }
  &#portafolio{
    .container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      .item img{
        width: 100%;
      }
    }
  }
  &#servicios{
    .container{
      width: 700px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .item{
      display: flex;
      align-items: center;
      flex-direction: column;
      h3{
        text-align: center;
      }
    }
    .plan{
      box-shadow: 0 0 27px rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      padding: 2rem;
      text-align: center;
      position: relative;
      background: white;
      width: 33%;
      &:first-of-type{
        border-radius: 1rem 0 0 1rem;
      }
      &:last-of-type{
        border-radius: 0 1rem 1rem 0;
      }
      &.best{
        width: 34%;
        z-index: 2;
        top: -1.5rem;
        //padding: 3rem 2rem;
      }
      $posY: 0.8;
      $posX: 1.5;
      ul{
        padding-left: $posX * 1rem;
        li {
          position: relative;
          list-style: none;
          text-align: left;
          padding: $posY * 0.5rem 0;
          color: $color-muted;
          &:after {
            content:'\2713';
            color: $color-primary;
            background-color: transparent;
            position: absolute;
            left: $posX * -1rem;
            top: $posY * 0.6rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}

footer{
  background: url("../assets/footer.jpeg");
  background-size: cover;
  .cover{
    padding: 6rem 0;
    background: rgba(0,0,0,.05);
    height: 100%;
    position: relative;
  }
}