.btn{
  border: 1px solid white;
  border-radius: 4px;
  padding: 1rem 2rem;
  cursor: pointer;
  &.btn-block{
    width: 100%;
  }
  &.btn-white{
    @include button(#fff);
  }
  &.btn-primary {
    @include button($color-primary);
  }
  &.btn-secondary{
    @include button($color-secondary);
  }
}