.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo{
    height: 2rem;
  }
  &__right{
    display: none;
  }
  &__element{
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    margin: 0 1rem;
    position: relative;
    font-weight: 600;
    cursor: pointer;
    @include transition();
    &:hover{
      color: white;
      &::after{
        background: rgba(255, 255, 255, 0.6);
        width: 70%;
      }
    }
    &::after{
      transition: all 0.25s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      height: 2px;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: -0.5rem;
      width: 100%;
    }
  }
}

@mixin menus--md{
  .nav__right{
    display: block;
  }
}